/* Basic Customization */

li a:link {
	background-color: rgba(35, 35, 35, 1) !important;
}
li a:visited {
	background-color: rgba(35, 35, 35, 1) !important;
}
.sm-caps {
	font-variant: small-caps;
}

/* Navbar Customization */
.navbar.navbar-inverse {
	border-bottom: none;
}
.navbar-brand {
	color: rgba(255, 255, 255, 1)!important;
	font-weight: 100;
	font-size: 3em;
	font-family: "Gill Sans";	
}
	.nav.navbar-nav {
		float: right;
	}
		div.collapse li a,
		div.collapsing li a {
			font-variant: normal;
			font-weight: 100;
			font-size: 1.3em;
			font-family: "Helvetica Neue";
		}
		div.collapsing li a,
		div.navbar-collapse.collapse.in li a {
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 0px;
		}
		div.collapse li a.initial {
			border-left: 1px solid rgba(255, 255, 255, .75);
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 6px;
		}
		
/* Main Customisation */

.push-down {
	margin-top: 10%;
}