/* Fonts */

@font-face {
font-family: Raleway-Light;
src: url(faces/Raleway-Light.otf);
}
@font-face {
font-family: Raleway-ExtraLight;
src: url(faces/Raleway-ExtraLight.otf);
}
@font-face {
font-family: GillSans-Light;
src: url(faces/GillSans-Light.ttf);
}
@font-face {
font-family: HelveticaNeue-UltraLight;
src: url(faces/HelveticaNeueUltraLight.ttf);
}
@font-face {
font-family: HelveticaNeue-Light;
src: url(faces/HelveticaNeueLight.ttf);
}
@font-face {
font-family: HelveticaNeue-Thin;
src: url(faces/HelveticaNeueThin.ttf);
}


/* Basic Customization */

li a:link {
	background-color: rgba(35, 35, 35, 1) !important;
}
li a:visited {
	background-color: rgba(35, 35, 35, 1) !important;
}
.sm-caps {
	font-variant: small-caps;
}

/* Navbar Customization */
.navbar.navbar-inverse {
	border-bottom: none;
}
.navbar-brand {
	color: rgba(255, 255, 255, 1)!important;
	font-size: 3em;
	font-family: "GillSans-Light", sans-serif;	
}
	.nav.navbar-nav {
		float: right;
	}
		div.collapse li a,
		div.collapsing li a {
			font-variant: normal;
			font-size: 1.3em;
			font-family: "HelveticaNeue-UltraLight", sans-serif;
		}
		div.collapsing li a,
		div.navbar-collapse.collapse.in li a {
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 0px;
			border-left: 1px solid rgba(255, 255, 255, .75);
		}
		div.collapse li a.initial {
			border-left: 1px solid rgba(255, 255, 255, .75);
		}
		
/* Main Customisation */
.push-down {
	margin-top: 10%;
}
.jumbotron.push-down {
	margin-top: 5%;
}
